<!DOCTYPE html>
<html>
<head>
  <title>ZombieTweet-Soups</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="" id="logo"><%= image_tag "cn.png"%></a>
		<div class='logo_title'><a href="">Classified Soups</a></div>
		<nav>
			<ul>
				<li><%= link_to "Main Categories", categories_path %></li>
			</ul>
		</nav>
	</header>
<div class='wrapper'>
<%= yield %>
</div>
</body>
</html>
